<form action="/login" method="POST">

      <p><label for="name">Employee Name:</label>
      <input type="text" name="name" id="name"></p>       
      
      <p><label for="password">Employee Password:</label>
      <input type="password" name="password" id="password"></p>
      <input type="submit" value="Log In">

    </form>