<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <style>
    body {
      
      background-image: url('');
      background-repeat: no-repeat;
      background-size: cover;

    }
      .center {
        text-align: center;        
      }
      

      </style>
  </head>

      

    <body>
    <div class = "center">
      <h1><%="Welcome to your TriForge Client sheets, "%>
      <p><%=current_employee.name%><%="!"%></p></h1>
    </div>

      <p>Show me my <a href="/my_customers">customers</a>.</p>
      <p>Add a <a href="/new_customer">new customer</a>.</p>
      <p>See all <a href="/employees">employees</a>.</p>
    </body>
</html>