<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>

    <style>
     body
     .logoz-image {
      
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/triforge-no-white.png');
      
      height: 20% ;
    
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

      .box_text {
        margin-top: 0px;
        margin-right: 500px;
        margin-left: 500px;
        margin-bottom: 100px;
        text-align: center;
      }
      .center {
        text-align: center;        
      }
    </style>
    
  </head>

  <body>
    <div class="logoz-image">
      <div class="logoz-text">
        <h1 class="box_text" style="color:lightblue;">Welcome to the TriForge Employee Sheet</h1>
        <h1 class="box_text" style="color:lightblue;">Keeping Track of your clients</h1>
      </div>
    </div>
     
    <h3>Please <a href="/login">Login</a> or <a href="/new_employee">Create Account</a></h3>
    
  </body>
</html>

